:root {
    --button_border_raduis: 12px;
    background: linear-gradient(var(--color_top), var(--color_bottom));
}

body {
    display: grid;
    place-items: center;
    grid-template-rows: 15% 70% 15%;
}

button {
    background-color: rgba(0, 0, 0, 0.12);
    color: white;
    border: none;
    border-radius: var(--button_border_raduis);
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 600;
    transition-duration: 300ms;
    font-family: monospace; 
}

button:hover {
    background-color: rgba(0, 0, 0, 0.16);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:active {
    background-color: rgba(0, 0, 0, 0.28);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transform: scale(90%);
}

.hex_value {
    font-family: monospace;
    color: hsla(0, 0%, 100%, 0.8);
    text-transform: lowercase;
    font-size: 16px;
}

.hex_click_zone:hover {
    opacity: 60%;
}

.hex_value:before {
    content: '#';
}

.hex_click_zone {
    width: 28%;
    display: grid;
    grid-gap: 8px;
    justify-items: center;
}

.buttonWithCaption {
    display: grid;
    place-items: center;
    grid-gap: 16px;
}

.caption {
    font-family: monospace;
    font-size: 13px;
    color: hsla(0, 0%, 100%, 0.6);
    text-align: center;
}

.button-secondary {
    padding: 13px;
}

.actions {
    display: flex;
    gap: 8px;
}